body {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(152, 151, 151);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  position: relative;
}

#root {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  flex-direction: column;
  align-items: center;
}

.Main_Entrance form button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
}

.Main_Entrance form button:hover {
  border-color: #646cff;
}

.Main_Entrance form button:focus,
.Main_Entrance form button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.Main_Entrance {
  margin-top: 16%;
  width: 30%;
  min-height: 240px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  min-width: 180px;
}

.Main_Entrance form {
  margin-top: 15px;
  width: 90%;
  min-width: 170px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Main_Entrance form input {
  color: black;
  background-color: white;
  padding: 5px;
  width: 80%;
}

.Main_Entrance .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}